<body class="sidebar-folded" style="background:#1572d0">

  <div class="main-content">
    <div class="row">

      <div class="col-sm-4">
        <div class="col-sm-12">
          <img class="img-responsive" src="./assets/images/gif.gif">
        </div>
        <div class="col-12">
          <div class="flexbox flex-justified text-center bg-white">
            <div class="no-shrink py-30">
              <span class="ti-stats-up fs-40 text-success"></span>
            </div>

            <div class="py-30 bg-lighter">
              <div class="fs-30">+60</div>
              <span>Sales</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="flexbox flex-justified text-center bg-white">
            <div class="no-shrink py-30">
              <span class="ti-stats-up fs-40 text-success"></span>
            </div>

            <div class="py-30 bg-lighter">
              <div class="fs-30">+60</div>
              <span>Sales</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <h4 class="card-title">Projets</h4>

          <div class="card-body">
            <div class="callout callout-success" role="alert">
              <h5>FDI-DEVC</h5>
              <p>MyLib : Compléter un bibliothèque de fonctions basiques en C.
                <br>
                <small>Temps: 35s</small></p>
              </div>

              <div class="callout callout-info" role="alert">
                <h5>Mêlée</h5>
                <p>Rendez-vous pédagogique.
                  <br>
                  <small>Temps: 5s</small></p>
                </div>

                <div class="callout callout-success" role="alert">
                  <h5>FDI-UNI1</h5>
                  <p>Apache1 : Installation et utilisation primaire d'Apache.
                    <br>
                    <small>Temps: 30s</small></p>
                  </div>
                  <div class="callout callout-warning" role="alert">
                    <h5>SDC-WEB</h5>
                    <p>CodeCamp WEB : Améliorez vos compétences en web en répondant au défi d'une entreprise !
                      <br>
                      <small>Temps: 60s</small></p>
                    </div>
                  </div>
                </div>
              </div>

      <div class="col-sm-3">
               <div class="col-12">
              <app-timer></app-timer>
              </div>
              <div class="col-12">
                <div class="card">
                  <h4 class="card-title">Magasin</h4>

                  <div class="card-body">
                    <div class="callout callout-danger" role="alert">
                      <h5>Robin</h5>
                      <p>Avec Robin à vos côtés, vos skills en PHP augmentent de 5.</p>
                      <button class="btn btn-w-md btn-outline btn-danger">Acheter</button>
                    </div>

                    <div class="callout callout-danger" role="alert">
                      <h5>Microphone</h5>
                      <p>Votre compétence 'charisme' augmente de 10.</p>
                      <button class="btn btn-w-md btn-outline btn-danger">Acheter</button>

                    </div>

                    <div class="callout callout-danger" role="alert">
                      <h5>Liasse de billets</h5>
                      <p>Complète instanément un projet en cours.</p>
                      <button class="btn btn-w-md btn-outline btn-danger">Acheter</button>

                    </div>


                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Scripts -->
        <script src="./js/core.min.js"></script>
        <script src="./js/app.min.js"></script>
        <script src="./js/script.min.js"></script>
      </body>